<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Youtube Styled Twitter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_main.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}" charset="utf-8"></script>
    {% block Head %}
    {% endblock %}
  </head>
  <body>
    <header>
      <a href="/">Home</a>
    </header>
    {% block Body %}
    {% endblock %}
  </body>
</html>
